<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>prosledjivanjeFilma</servlet-name>
        <servlet-class>servleti.prosledjivanjeFilma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaFilmova</servlet-name>
        <servlet-class>servleti.listaFilmova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logovanjeServlet</servlet-name>
        <servlet-class>servleti.logovanjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmenaFilmova</servlet-name>
        <servlet-class>servleti.izmenaFilmova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmenaFilma</servlet-name>
        <servlet-class>servleti.izmenaFilma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediFilm</servlet-name>
        <servlet-class>servleti.proslediFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rezervacijaInfo</servlet-name>
        <servlet-class>servleti.rezervacijaInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>odjava</servlet-name>
        <servlet-class>servleti.odjava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajRezervaciju</servlet-name>
        <servlet-class>servleti.dodajRezervaciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rezervacijeKorisnik</servlet-name>
        <servlet-class>servleti.rezervacijeKorisnik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>racunajPoene</servlet-name>
        <servlet-class>servleti.racunajPoene</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediProfil</servlet-name>
        <servlet-class>servleti.proslediProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novaProjekcija</servlet-name>
        <servlet-class>servleti.novaProjekcija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajProjekciju</servlet-name>
        <servlet-class>servleti.dodajProjekciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniProjekciju</servlet-name>
        <servlet-class>servleti.ukloniProjekciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uskoroFilmovi</servlet-name>
        <servlet-class>servleti.uskoroFilmovi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaKlubova</servlet-name>
        <servlet-class>servleti.listaKlubova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uclaniSe</servlet-name>
        <servlet-class>servleti.uclaniSe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmeniKlub</servlet-name>
        <servlet-class>servleti.izmeniKlub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediKlub</servlet-name>
        <servlet-class>servleti.proslediKlub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniKlub</servlet-name>
        <servlet-class>servleti.ukloniKlub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajKlub</servlet-name>
        <servlet-class>servleti.dodajKlub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajBioskop</servlet-name>
        <servlet-class>servleti.dodajBioskop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajFilm</servlet-name>
        <servlet-class>servleti.dodajFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajSalu</servlet-name>
        <servlet-class>servleti.dodajSalu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmenaBioskopa</servlet-name>
        <servlet-class>servleti.izmenaBioskopa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmenaSala</servlet-name>
        <servlet-class>servleti.izmenaSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaBioskopa</servlet-name>
        <servlet-class>servleti.listaBioskopa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaRezervacija</servlet-name>
        <servlet-class>servleti.listaRezervacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prosledjivanjeBioskopa</servlet-name>
        <servlet-class>servleti.prosledjivanjeBioskopa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prosledjivanjeSala</servlet-name>
        <servlet-class>servleti.prosledjivanjeSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registracijaServlet</servlet-name>
        <servlet-class>servleti.registracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saleBioskopa</servlet-name>
        <servlet-class>servleti.saleBioskopa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniBioskop</servlet-name>
        <servlet-class>servleti.ukloniBioskop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniRezervaciju</servlet-name>
        <servlet-class>servleti.ukloniRezervaciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniSalu</servlet-name>
        <servlet-class>servleti.ukloniSalu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniFilm</servlet-name>
        <servlet-class>servleti.ukloniFilm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>prosledjivanjeFilma</servlet-name>
        <url-pattern>/prosledjivanjeFilma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaFilmova</servlet-name>
        <url-pattern>/listaFilmova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logovanjeServlet</servlet-name>
        <url-pattern>/logovanjeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmenaFilmova</servlet-name>
        <url-pattern>/izmenaFilmova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmenaFilma</servlet-name>
        <url-pattern>/izmenaFilma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediFilm</servlet-name>
        <url-pattern>/proslediFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rezervacijaInfo</servlet-name>
        <url-pattern>/rezervacijaInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>odjava</servlet-name>
        <url-pattern>/odjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajRezervaciju</servlet-name>
        <url-pattern>/dodajRezervaciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rezervacijeKorisnik</servlet-name>
        <url-pattern>/rezervacijeKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>racunajPoene</servlet-name>
        <url-pattern>/racunajPoene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediProfil</servlet-name>
        <url-pattern>/proslediProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novaProjekcija</servlet-name>
        <url-pattern>/novaProjekcija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajProjekciju</servlet-name>
        <url-pattern>/dodajProjekciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniProjekciju</servlet-name>
        <url-pattern>/ukloniProjekciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uskoroFilmovi</servlet-name>
        <url-pattern>/uskoroFilmovi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaKlubova</servlet-name>
        <url-pattern>/listaKlubova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uclaniSe</servlet-name>
        <url-pattern>/uclaniSe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmeniKlub</servlet-name>
        <url-pattern>/izmeniKlub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediKlub</servlet-name>
        <url-pattern>/proslediKlub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniKlub</servlet-name>
        <url-pattern>/ukloniKlub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajKlub</servlet-name>
        <url-pattern>/dodajKlub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajBioskop</servlet-name>
        <url-pattern>/dodajBioskop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajFilm</servlet-name>
        <url-pattern>/dodajFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajSalu</servlet-name>
        <url-pattern>/dodajSalu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmenaBioskopa</servlet-name>
        <url-pattern>/izmenaBioskopa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmenaSala</servlet-name>
        <url-pattern>/izmenaSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaBioskopa</servlet-name>
        <url-pattern>/listaBioskopa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaRezervacija</servlet-name>
        <url-pattern>/listaRezervacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prosledjivanjeBioskopa</servlet-name>
        <url-pattern>/prosledjivanjeBioskopa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prosledjivanjeSala</servlet-name>
        <url-pattern>/prosledjivanjeSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registracijaServlet</servlet-name>
        <url-pattern>/registracijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saleBioskopa</servlet-name>
        <url-pattern>/saleBioskopa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniBioskop</servlet-name>
        <url-pattern>/ukloniBioskop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniRezervaciju</servlet-name>
        <url-pattern>/ukloniRezervaciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniSalu</servlet-name>
        <url-pattern>/ukloniSalu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniFilm</servlet-name>
        <url-pattern>/ukloniFilm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
